/* Imports */
@import url("reset.css");
@import url("pygment.css");
@import url("typogrify.css");
@import url(http://fonts.googleapis.com/css?family=Lobster);
@import url(http://fonts.googleapis.com/css?family=Droid+Sans);


/***** Global *****/
/* Body */
body {
    background: url("diagmonds.png");
    font-family: 'Droid Sans', sans-serif;
    font-size: 14px ;
    line-height: 1.429;
    margin: 0;
    padding: 0;
    text-align: left;
}

/* Headings */
h1 {font-size: 2em }
h2 {font-size: 1.571em} /* 22px */
h3 {font-size: 1.429em} /* 20px */
h4 {font-size: 1.286em} /* 18px */
h5 {font-size: 1.143em} /* 16px */
h6 {font-size: 1em}     /* 14px */

h1, h2, h3, h4, h5, h6 {
    font-weight: 400;
    line-height: 1.1;
    margin-bottom: .8em;
    font-family: 'Lobster', cursive;
    
}

h3, h4, h5, h6 { margin-top: .8em; }
    
hr { border: 2px solid #EEEEEE; }

/* Anchors */
a {outline: 0;}
a img {border: 0px; text-decoration: none;}
a:link, a:visited {
    color: #009715;
    padding: 0 1px;
    text-decoration: underline;
}
a:hover, a:active {
    background-color: #009715;
    color: #fff;
    text-decoration: none;
    text-shadow: 1px 1px 1px #333;
}

h1 a:hover {
    background-color: inherit
}
    
/* Paragraphs */
p {margin-bottom: 1.143em;}

strong, b {font-weight: bold;}
em, i {font-style: italic;}

::-moz-selection {background: #F6CF74; color: #fff;}
::selection {background: #F6CF74; color: #fff;}

/* Lists */
ul {
    list-style: outside disc;
    margin: 1em 0 1.5em 1.5em;
}

ol {
    list-style: outside decimal;
    margin: 1em 0 1.5em 1.5em;
}

.post-info {
    float:right;
    margin:5px;
    padding:9px;
    padding-top: 0px;
    margin-top: 0px;
}

.post-info p{
    margin-bottom: 1px;
}

.readmore { float: right }

dl {margin: 0 0 1.5em 0;}
dt {font-weight: bold;}
dd {margin-left: 1.5em;}

pre{background-color: #000; padding: 10px; color: #fff; margin: 10px; overflow: auto;}

/* Quotes */
blockquote {
    margin: 20px;
    font-style: italic;
}
cite {}

q {}

div.note {
   float: right;
   margin: 5px;
   font-size: 85%;
   max-width: 300px;
}

/* Tables */
table {margin: .5em auto 1.5em auto; width: 98%;}
    
    /* Thead */
    thead th {padding: .5em .4em; text-align: left;}
    thead td {}

    /* Tbody */
    tbody td {padding: .5em .4em;}
    tbody th {}
    
    tbody .alt td {}
    tbody .alt th {}
    
    /* Tfoot */
    tfoot th {}
    tfoot td {}
    
/* HTML5 tags */
header, section, footer,
aside, nav, article, figure {
    display: block;
}

/***** Layout *****/
.body {clear: both; margin: 0 auto; width: 800px;}
img.right figure.right {float: right; margin: 0 0 2em 2em;}
img.left, figure.left {float: right; margin: 0 0 2em 2em;}

/*
    Header
*****************/
#banner {
    margin: 0 auto;
    padding: 2.5em 0 0 0;
}

#banner h1 a {
}

    /* Banner */
    #banner h1 {font-size: 3.571em; line-height: 0;}
    #banner h1 a:link, #banner h1 a:visited {
        color: #aaa;
        display: block;
        font-weight: bold;
        margin: 0 0 .6em .2em;
        text-decoration: none;
        width: 427px;

        width: 760px;
        height: 190px;
        background: url("header.png") no-repeat;
    }
    #banner h1 a:hover, #banner h1 a:active {
        background: none;
        color: #009715;
        text-shadow: none;

        width: 760px;
        height: 190px;
        background: url("header.png") no-repeat;
    }
    
    #banner h1 strong {font-size: 0.36em; font-weight: normal;}
    
    /* Main Nav */
    #banner nav {
        background: #000305;
        font-size: 1.143em;
        height: 40px;
        line-height: 30px;
        margin: 0 auto 2em auto;
        padding: 0;
        text-align: center;
        width: 800px;
        
        border-radius: 5px;
        -moz-border-radius: 5px;
        -webkit-border-radius: 5px;
    }
    
    #banner nav ul {list-style: none; margin: 0 auto; width: 800px;}
    #banner nav li {float: left; display: inline; margin: 0;}
    
    #banner nav a:link, #banner nav a:visited {
        color: #fff;
        display: inline-block;
        height: 30px;
        padding: 5px 1.5em;
        text-decoration: none;
    }
    #banner nav a:hover, #banner nav a:active,
    #banner nav .active a:link, #banner nav .active a:visited {
        background: #009715;
        color: #fff;
        text-shadow: none !important;
    }
    
    #banner nav li:first-child a {
        border-top-left-radius: 5px;
        -moz-border-radius-topleft: 5px;
        -webkit-border-top-left-radius: 5px;
        
        border-bottom-left-radius: 5px;
        -moz-border-radius-bottomleft: 5px;
        -webkit-border-bottom-left-radius: 5px;
    }

/*
    Featured
*****************/
#featured {
    
    background: url("toptop.png") no-repeat, url('downdown.png') no-repeat, url("white.png") repeat;
    background-position: top,bottom,top;
    margin-bottom: 2em;
    overflow: hidden;
    padding: 20px;
    width: 530px;
    
    border-radius: 0px;
    -moz-border-radius: 0px;
    -webkit-border-radius: 0px;
}

#featured figure {
    border: 2px solid #eee;
    float: right;
    margin: 0.786em 2em 0 5em;
    width: 248px;
}
#featured figure img {display: block; float: right;}

#featured h2 {color: #C74451; font-size: 1.714em; margin-bottom: 0.333em;}
#featured h3 {font-size: 1.429em; margin-bottom: .5em;}

#featured h3 a:link, #featured h3 a:visited {color: #000305; text-decoration: none;}
#featured h3 a:hover, #featured h3 a:active {color: #fff;}

/*
    Body
*****************/
#content {
    background: url("toptop.png") no-repeat, url('downdown.png') no-repeat, url("white.png") repeat;
    background-position: top,bottom,top;
    margin-bottom: 2em;
    overflow: hidden;
    padding: 20px 20px;
    width: 530px;
    
    border-radius: 0px;
    -moz-border-radius: 0px;
    -webkit-border-radius: 0px;

    min-height: 800px;
}

/*
    Extras
*****************/
#extras {margin: 0 auto 3em auto; overflow: hidden;}

#extras ul {list-style: none; margin: 0;}
#extras li {border-bottom: 1px solid #fff;}
#extras h2 {
    color: #aaa;
    font-size: 1.429em;
    margin-bottom: .25em;
    padding: 0 3px;
}

#extras a:link, #extras a:visited {
    color: #888;
    display: block;
    border-bottom: 1px solid #F4E3E3;
    text-decoration: none;
    padding: .3em .25em;
}

#extras a:hover, #extras a:active {color: #fff;}

    /* Blogroll */
    #extras .foot, #extras .blogroll, #extras .social {
        float: left;
        width: 200px;
        margin-bottom: 20px;
    }

    #extras div[class='social'] a {
        background-repeat: no-repeat;
        background-position: 3px 6px;
        padding-left: 25px;
    }
    
        /* Icons */
        

        .social a[href*='facebook.com'] {background-image: url('../images/icons/facebook.png');
        background-size: 16px 16px; }
        .social a[href*='twitter.com'] {background-image: url('../images/icons/twitter.png');
        background-size: 16px 16px;  }
        .social a[href*='quora.com'] {background-image: url('../images/icons/quora.png');
        background-size: 16px 16px; }
        .social a[href*='github.com'] {background-image: url('../images/icons/github.png');
        background-size: 16px 16px; }
        .social a[href*='news.ycombinator.com'] {background-image: url('../images/icons/hacker_news.png');
        background-size: 16px 16px; }
        .social a[href*='instapaper.com'] {background-image: url('../images/icons/instapaper.png');
        background-size: 16px 16px; }
        .social a[href*='hypem.com'] {background-image: url('../images/icons/hype_machine.png');
        background-size: 16px 16px; }


/*
    About
*****************/
#about {
    background: #fff;
    font-style: normal;
    margin-bottom: 2em;
    overflow: hidden;
    padding: 20px;
    text-align: left;
    width: 760px;
    
    border-radius: 10px;
    -moz-border-radius: 10px;
    -webkit-border-radius: 10px;
}

#about .primary {float: left; width: 165px;}
#about .primary strong {color: #C64350; display: block; font-size: 1.286em;}
#about .photo {float: left; margin: 5px 20px;}

#about .url:link, #about .url:visited {text-decoration: none;}

#about .bio {float: right; width: 500px;}

/*
    Footer
*****************/
#contentinfo {
    padding-bottom: 2em;
    text-align: center;
    color: #aaa;
}

/***** Sections *****/
/* Blog */
.hentry {
    display: block;
    clear: both;
    border-bottom: 1px solid #eee;
    padding: 1.5em 0;
}
li:last-child .hentry, #content > .hentry {border: 0; margin: 0;}
#content > .hentry {padding: 1em 0;}
.hentry img{display : none ;}
.entry-title {font-size: 3em; margin-bottom: 10px; margin-top: 0;}
.entry-title a:link, .entry-title a:visited {text-decoration: none; color: #333;}
.entry-title a:visited {background-color: #fff;}

.hentry .post-info * {font-style: normal;}

    /* Content */
    .hentry footer {margin-bottom: 2em;}
    .hentry footer address {display: inline;}
    #posts-list footer address {display: block;}

    /* Blog Index */
    #posts-list {list-style: none; margin: 0;}
    #posts-list .hentry {padding-left: 10px; position: relative;}
    
    #posts-list footer {
        left: 10px;
        float: left;
        width: 210px;
    }
    
    /* About the Author */
    #about-author {
        background: #f9f9f9;
        clear: both;
        font-style: normal;
        margin: 2em 0;
        padding: 10px 20px 15px 20px;
        
        border-radius: 5px;
        -moz-border-radius: 5px;
        -webkit-border-radius: 5px;
    }
    
    #about-author strong {
        color: #C64350;
        clear: both;
        display: block;
        font-size: 1.429em;
    }
    
    #about-author .photo {border: 1px solid #ddd; float: left; margin: 5px 1em 0 0;}
    
    /* Comments */
    #comments-list {list-style: none; margin: 0 1em;}
    #comments-list blockquote {
        background: #f8f8f8;
        clear: both;
        font-style: normal;
        margin: 0;
        padding: 15px 20px;
        
        border-radius: 5px;
        -moz-border-radius: 5px;
        -webkit-border-radius: 5px;
    }
    #comments-list footer {color: #888; padding: .5em 1em 0 0; text-align: right;}
    
    #comments-list li:nth-child(2n) blockquote {background: #F5f5f5;}
    
    /* Add a Comment */
    #add-comment label {clear: left; float: left; text-align: left; width: 150px;}
    #add-comment input[type='text'],
    #add-comment input[type='email'],
    #add-comment input[type='url'] {float: left; width: 200px;}
    
    #add-comment textarea {float: left; height: 150px; width: 495px;}
    
    #add-comment p.req {clear: both; margin: 0 .5em 1em 0; text-align: right;}
    
    #add-comment input[type='submit'] {float: right; margin: 0 .5em;}
    #add-comment * {margin-bottom: .5em;}


/**** tags *****/
.tags{
    margin:0;
    padding:0;
    list-style:none;
    }
.tags li, .tags a{
    float:left;
    margin-top: 2px;
    height:24px;
    line-height:24px;
    position:relative;
    font-size:11px;
    }
.tags a{
    margin-left:20px;
    padding:0 10px 0 12px;
    background:#0089e0;
    color:#fff;
    text-decoration:none;
    -moz-border-radius-bottomright:4px;
    -webkit-border-bottom-right-radius:4px;
    border-bottom-right-radius:4px;
    -moz-border-radius-topright:4px;
    -webkit-border-top-right-radius:4px;
    border-top-right-radius:4px;
    }
.tags a:before{
    content:"";
    float:left;
    position:absolute;
    top:0;
    left:-12px;
    width:0;
    height:0;
    border-color:transparent #0089e0 transparent transparent;
    border-style:solid;
    border-width:12px 12px 12px 0;
    }
.tags a:after{
    content:"";
    position:absolute;
    top:10px;
    left:0;
    float:left;
    width:4px;
    height:4px;
    -moz-border-radius:2px;
    -webkit-border-radius:2px;
    border-radius:2px;
    background:#fff;
    -moz-box-shadow:-1px -1px 2px #004977;
    -webkit-box-shadow:-1px -1px 2px #004977;
    box-shadow:-1px -1px 2px #004977;
    }

.tags a:hover{background:#555;}
.tags a:hover:before{border-color:transparent #555 transparent transparent;}

.gravatar {
    /** -webkit-transform: rotate(-2deg); **/
    /** -moz-transform: rotate(-2deg); **/
}

.gravatar {
    padding: 10px 10px 30px;
    width: 190px;
    background: white;
    border: 1px solid #aaa;

    border-radius: 5px;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
}

.clear {
    clear: both;
}

p.img img {
    padding: 10px 10px 30px;
    background: white;
    margin: 0 auto 0 auto;
    border: 1px solid #aaa;
    max-width: 500px;
}

p.img {
    text-align: center;
}

#twitter-widget-0 {
}

.pcontent {
    width: 530px;
    float: left;
}

.sidebar {
    width: 220px;
    float: left;
    margin-left: 50px;
}

.wrap {
    width: 800px;
    margin: 0 auto;
}

.feeds a {
    background-image: url('feed.png');
    background-repeat: no-repeat;
    background-position: 3px 6px;
    padding-left: 25px !important;
}


// Tag list

ul#tagslist {
    display: block;
    width: 75%;
    margin: 1em auto;
    list-style-type: none;
}

ul#tagslist li a {
    text-decoration: none;
    font-weight: bold;
}

ul#tagslist li {
    display: inline-block;
    list-style-type: none;
    margin: .5em .2em;
    transition: transform 1s ease 0s;
    -o-transition: -o-transform 0.5s ease 0s;
    -ms-transition: -ms-transform 0.5s ease 0s;
    -moz-transition: -moz-transform 0.5s ease 0s;
    -webkit-transition: -webkit-transform 0.5s ease 0s;
}



ul#tagslist li:hover {
    transform: rotate(0deg) scale(1.2, 1.2) !important;
    -o-transform: rotate(0deg) scale(1.2, 1.2) !important;
    -ms-transform: rotate(0deg) scale(1.2, 1.2) !important;
    -moz-transform: rotate(0deg) scale(1.2, 1.2) !important;
    -webkit-transform: rotate(0deg) scale(1.2, 1.2) !important;
}

